.flexigrid {
	overflow: hidden; font-family: Arial, Helvetica, sans-serif; font-size: 11px; border-top-color: rgb(51, 51, 51); border-top-width: 0px; border-top-style: solid; position: relative;
}
.flexigrid.hideBody {
	height: 26px !important; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.ie6fullwidthbug {
	padding-right: 2px; border-right-color: rgb(204, 204, 204); border-right-width: 0px; border-right-style: solid;
}
.flexigrid div.nDiv {
	background: url("../images/line.gif") repeat-y -1px top rgb(238, 238, 238); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; left: 0px; overflow: auto; float: left; position: absolute; z-index: 999;
}
.flexigrid div.nDiv table {
	margin: 2px;
}
.flexigrid div.hDivBox {
	padding-right: 40px; float: left;
}
.flexigrid div.bDiv table {
	margin-bottom: 10px;
}
.flexigrid div.bDiv table.autoht {
	margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.flexigrid div.nDiv td {
	padding: 2px 3px; border: 1px solid rgb(238, 238, 238); border-image: none; cursor: default;
}
.flexigrid div.nDiv tr:hover td {
	background: url("../images/hl.png") repeat-x top rgb(213, 239, 252); border: 1px solid rgb(168, 216, 235); border-image: none;
}
.flexigrid div.nDiv tr.ndcolover td {
	background: url("../images/hl.png") repeat-x top rgb(213, 239, 252); border: 1px solid rgb(168, 216, 235); border-image: none;
}
.flexigrid div.nDiv td.ndcol1 {
	border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
.flexigrid div.nDiv td.ndcol2 {
	padding-right: 10px; border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;
}
.flexigrid div.nDiv tr:hover td.ndcol1 {
	border-right-color: rgb(210, 227, 236); border-right-width: 1px; border-right-style: solid;
}
.flexigrid div.nDiv tr.ndcolover td.ndcol1 {
	border-right-color: rgb(210, 227, 236); border-right-width: 1px; border-right-style: solid;
}
.flexigrid div.nDiv tr:hover td.ndcol2 {
	border-left-color: rgb(238, 248, 255); border-left-width: 1px; border-left-style: solid;
}
.flexigrid div.nDiv tr.ndcolover td.ndcol2 {
	border-left-color: rgb(238, 248, 255); border-left-width: 1px; border-left-style: solid;
}
.flexigrid div.nBtn {
	background: url("../images/fhbg.gif") repeat-x bottom rgb(250, 250, 250); border-width: 0px 0px 0px 1px; border-style: solid; border-color: rgb(204, 204, 204); border-image: none; left: 0px; top: 0px; width: 14px; height: 24px; color: rgb(51, 51, 51); margin-top: 1px; display: none; position: absolute; z-index: 900; cursor: pointer;
}
.flexigrid div.nBtn div {
	background: url("../images/ddn.png") no-repeat center; width: 12px; height: 24px; border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid; float: left;
}
.flexigrid div.nBtn.srtd {
	background: url("../images/wbg.gif") repeat-x 0px -1px;
}
.flexigrid div.mDiv {
	background: url("../images/wbg.gif") repeat-x top; border-width: 0px 1px; border-style: none solid; border-color: currentColor rgb(204, 204, 204); border-image: none; overflow: hidden; font-weight: bold; display: block; white-space: nowrap; position: relative;
}
.flexigrid div.mDiv div {
	padding: 6px; white-space: nowrap;
}
.flexigrid div.mDiv div.ptogtitle {
	padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; top: 4px; width: 16px; height: 16px; right: 3px; overflow: hidden; position: absolute; cursor: pointer;
}
.flexigrid div.mDiv div.ptogtitle:hover {
	background-position: left -2px; border-color: rgb(187, 187, 187);
}
.flexigrid div.mDiv div.ptogtitle span {
	background: url("../images/uup.png") no-repeat center; width: 14px; height: 14px; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(238, 238, 238); border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; display: block;
}
.flexigrid div.mDiv div.ptogtitle.vsble span {
	background: url("../images/ddn.png") no-repeat center;
}
.flexigrid div.tDiv {
	background: url("../images/bg.gif") repeat-x top rgb(250, 250, 250); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; border-image: none; overflow: hidden; position: relative;
}
.flexigrid div.tDiv2 {
	padding: 1px; clear: both; float: left;
}
.flexigrid div.sDiv {
	background: url("../images/bg.gif") repeat-x top rgb(250, 250, 250); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; overflow: hidden; display: none; position: relative;
}
.flexigrid div.sDiv2 {
	padding: 5px; width: 1024px; clear: both; float: left; display: none;
}
.flexigrid div.sDiv2 input {
	vertical-align: middle;
}
.flexigrid div.sDiv2 select {
	vertical-align: middle;
}
.flexigrid div.btnseparator {
	height: 18px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left;
}
.flexigrid div.fbutton {
	padding: 1px; float: left; display: block; cursor: pointer;
}
.flexigrid div.fbutton div {
	padding: 1px 3px; float: left;
}
.flexigrid div.fbutton span {
	padding: 3px; color: rgb(51, 51, 51); float: left; display: block;
}
.flexigrid div.fbutton:hover {
	padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.flexigrid div.fbutton.fbOver {
	padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.flexigrid div.fbutton:hover div {
	padding: 0px 2px;
}
.flexigrid div.fbutton.fbOver div {
	padding: 0px 2px;
}
.flexigrid div.hDiv {
	border: 1px solid rgb(51, 51, 51); border-image: none; height: 24px; overflow: hidden; display: none; position: relative;
}
.flexigrid div.hDiv table {
	border-right-color: rgb(255, 255, 255); border-right-width: 0px; border-right-style: solid;
}
.flexigrid div.cDrag {
	overflow: visible; float: left; position: absolute; z-index: 2;
}
.flexigrid div.cDrag div {
	background: none; width: 5px; height: 24px; float: left; display: block; position: absolute; cursor: col-resize;
}
.flexigrid div.cDrag div:hover {
	background: url("../images/line.gif") repeat-y 2px;
}
.flexigrid div.cDrag div.dragging {
	background: url("../images/line.gif") repeat-y 2px;
}
.flexigrid div.iDiv {
	background: none; border: 1px solid rgb(49, 106, 197); border-image: none; overflow: visible; display: none; position: absolute;
}
.flexigrid div.iDiv input {
	font-family: Arial, Helvetica, sans-serif; font-size: 11px;
}
.flexigrid div.iDiv select {
	font-family: Arial, Helvetica, sans-serif; font-size: 11px;
}
.flexigrid div.iDiv textarea {
	font-family: Arial, Helvetica, sans-serif; font-size: 11px;
}
.flexigrid div.iDiv input.tb {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; height: 100%;
}
.flexigrid div.bDiv {
	height: auto; overflow: hidden; position: relative;
}
.flexigrid div.bDiv table {
	width: 100%; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 0px; border-bottom-style: solid;
}
.flexigrid div.hGrip {
	background: url("../images/line.gif") repeat-x center; top: 0px; width: 5px; height: 5px; right: 0px; margin-right: 1px; position: absolute; cursor: col-resize;
}
.flexigrid div.hGrip:hover {
	margin-right: 0px; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid;
}
.flexigrid div.hGrip.hgOver {
	margin-right: 0px; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid;
}
.flexigrid div.vGrip {
	background: url("../images/wbg.gif") repeat-x 0px -1px rgb(250, 250, 250); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; height: 5px; text-align: center; overflow: hidden; position: relative; cursor: row-resize;
}
.flexigrid div.vGrip span {
	background: none; margin: 1px auto; width: 20px; height: 1px; overflow: hidden; border-top-color: rgb(170, 170, 170); border-bottom-color: rgb(170, 170, 170); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block;
}
.flexigrid div.hDiv th {
	text-align: left; overflow: hidden;
}
.flexigrid div.bDiv td {
	text-align: left; overflow: hidden;
}
.flexigrid div.hDiv th div {
	padding: 5px; border-left-color: rgb(255, 255, 255); border-left-width: 0px; border-left-style: solid;
}
.flexigrid div.bDiv td div {
	padding: 5px; border-left-color: rgb(255, 255, 255); border-left-width: 0px; border-left-style: solid;
}
div.colCopy div {
	padding: 5px; border-left-color: rgb(255, 255, 255); border-left-width: 0px; border-left-style: solid;
}
.flexigrid div.hDiv th {
	height: 24px; overflow: hidden; font-weight: normal; white-space: nowrap; cursor: default;
}
div.colCopy {
	height: 24px; overflow: hidden; font-weight: normal; white-space: nowrap; cursor: default;
}
div.colCopy {
	background: url("../images/fhbg.gif") repeat-x bottom rgb(250, 250, 250); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; border-image: none; overflow: hidden; font-family: Arial, Helvetica, sans-serif; font-size: 11px;
}
.flexigrid div.hDiv th.sorted {
	background: url("../images/wbg.gif") repeat-x 0px -1px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 0px; border-bottom-style: solid;
}
.flexigrid div.hDiv th.thOver {
	
}
.flexigrid div.hDiv th.thOver div {
	padding-bottom: 4px; border-bottom-color: orange; border-bottom-width: 0px; border-bottom-style: solid;
}
.flexigrid div.hDiv th.sorted.thOver div {
	padding-bottom: 4px; border-bottom-color: orange; border-bottom-width: 0px; border-bottom-style: solid;
}
.flexigrid div.hDiv th.sorted div {
	padding-bottom: 5px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 0px; border-bottom-style: solid;
}
.flexigrid div.hDiv th.thMove {
	background: rgb(255, 255, 255); color: rgb(255, 255, 255);
}
.flexigrid div.hDiv th.sorted.thMove div {
	padding-bottom: 4px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.flexigrid div.hDiv th.thMove div {
	background: rgb(255, 255, 255) !important;
}
.flexigrid div.hDiv th div.sdesc {
	background: url("../images/dn.png") no-repeat top;
}
.flexigrid div.hDiv th div.sasc {
	background: url("../images/up.png") no-repeat top;
}
.flexigrid div.bDiv td {
	padding: 0px; border: 1px solid transparent; border-image: none; height: 39px; overflow: hidden; vertical-align: middle; white-space: nowrap;
}
.flexigrid tr:nth-child(2n+1) {
	background: rgb(240, 240, 240);
}
.flexigrid tr:nth-child(2n) {
	background: rgb(220, 220, 220);
}
.flexigrid tr td:nth-child(2) {
	
}
.flexigrid div.hDiv th div {
	color: rgb(238, 238, 238);
}
.flexigrid span.cdropleft {
	background: url("../images/prev.png") no-repeat -4px; top: -24px; width: 24px; height: 24px; margin-bottom: -24px; display: block; position: relative; z-index: 3;
}
.flexigrid div.hDiv span.cdropright {
	background: url("../images/next.gif") no-repeat 12px; top: -24px; width: 24px; height: 24px; margin-bottom: -24px; float: right; display: block; position: relative;
}
.flexigrid div.bDiv td div {
	padding: 0px; overflow: hidden; font-size: 16px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.flexigrid div.bDiv td:first-child div {
	padding: 0px 0px 0px 10px;
}
.flexigrid div.bDiv td:first-child div img {
	margin: 0px; padding: 0px; position: relative;
}
.flexigrid tr td.sorted {
	background: rgb(243, 243, 243); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(243, 243, 243); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.flexigrid tr td.sorted div {
	
}
.flexigrid tr.erow td {
	
}
.flexigrid tr.erow td.sorted {
	
}
.flexigrid div.bDiv tr.trSelected:hover td {
	border-top-color: rgb(30, 171, 255); border-bottom-color: rgb(30, 171, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.flexigrid div.bDiv tr.trSelected:hover td.sorted {
	border-top-color: rgb(30, 171, 255); border-bottom-color: rgb(30, 171, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.flexigrid div.bDiv tr.trOver.trSelected td.sorted {
	border-top-color: rgb(30, 171, 255); border-bottom-color: rgb(30, 171, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.flexigrid div.bDiv tr.trOver.trSelected td {
	border-top-color: rgb(30, 171, 255); border-bottom-color: rgb(30, 171, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.flexigrid tr.trSelected td.sorted {
	border-top-color: rgb(30, 171, 255); border-bottom-color: rgb(30, 171, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.flexigrid tr.trSelected td {
	border-top-color: rgb(30, 171, 255); border-bottom-color: rgb(30, 171, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.flexigrid tr.trSelected td:first-child {
	border-left-color: rgb(30, 171, 255); border-left-width: 1px; border-left-style: solid;
}
.flexigrid tr.trSelected td:last-child {
	border-right-color: rgb(30, 171, 255); border-right-width: 1px; border-right-style: solid;
}
.flexigrid tr.trSelected td.sorted a {
	color: rgb(238, 238, 238);
}
.flexigrid tr.trSelected td a {
	color: rgb(238, 238, 238);
}
.flexigrid.novstripe .bDiv table {
	border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.flexigrid.novstripe div.bDiv td {
	border-right-color: rgb(255, 255, 255);
}
.flexigrid.novstripe div.bDiv tr.erow td.sorted {
	border-right-color: rgb(227, 227, 227);
}
.flexigrid.novstripe div.bDiv tr td.sorted {
	border-right-color: rgb(243, 243, 243);
}
.flexigrid.novstripe div.bDiv tr.erow td {
	border-right-color: rgb(247, 247, 247); border-left-color: rgb(247, 247, 247);
}
.flexigrid.novstripe div.bDiv tr.trSelected:hover td {
	border-right-color: rgb(0, 102, 255); border-left-color: rgb(0, 102, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.flexigrid.novstripe div.bDiv tr.trSelected:hover td.sorted {
	border-right-color: rgb(0, 102, 255); border-left-color: rgb(0, 102, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.flexigrid.novstripe div.bDiv tr.trOver.trSelected td.sorted {
	border-right-color: rgb(0, 102, 255); border-left-color: rgb(0, 102, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.flexigrid.novstripe div.bDiv tr.trOver.trSelected td {
	border-right-color: rgb(0, 102, 255); border-left-color: rgb(0, 102, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.flexigrid.novstripe tr.trSelected td.sorted {
	border-right-color: rgb(0, 102, 255); border-left-color: rgb(0, 102, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.flexigrid.novstripe tr.trSelected td {
	border-right-color: rgb(0, 102, 255); border-left-color: rgb(0, 102, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.flexigrid.novstripe div.bDiv tr.trOver td {
	border-right-color: rgb(217, 235, 245); border-left-color: rgb(217, 235, 245);
}
.flexigrid.novstripe div.bDiv tr:hover td {
	border-right-color: rgb(217, 235, 245); border-left-color: rgb(217, 235, 245);
}
.flexigrid div.pDiv {
	background: url("../images/wbg.gif"); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; height: 24px; color: rgb(51, 51, 51); overflow: hidden; display: none; white-space: nowrap;
}
.flexigrid div.pDiv div.pDiv2 {
	margin: 3px 3px 3px -2px; width: 1024px; float: left;
}
div.pGroup {
	background: none; margin: 0px 5px; height: 24px; float: left;
}
.flexigrid div.pDiv .pPageStat {
	top: 5px; overflow: visible; position: relative;
}
.flexigrid div.pDiv .pcontrol {
	top: 5px; overflow: visible; position: relative;
}
.flexigrid div.pDiv input {
	top: -5px; vertical-align: text-top; position: relative;
}
.flexigrid div.pDiv div.pButton {
	border: 0px currentColor; border-image: none; width: 22px; height: 22px; overflow: hidden; float: left; cursor: pointer;
}
.flexigrid div.pDiv div.pButton:hover {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 20px; height: 20px; cursor: pointer;
}
.flexigrid div.pDiv div.pButton.pBtnOver {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 20px; height: 20px; cursor: pointer;
}
.flexigrid div.pDiv div.pButton span {
	width: 20px; height: 20px; float: left; display: block;
}
.flexigrid div.pDiv div.pButton:hover span {
	width: 19px; height: 19px; border-top-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.flexigrid div.pDiv div.pButton.pBtnOver span {
	width: 19px; height: 19px; border-top-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.flexigrid .pSearch {
	background: url("../images/magnifier.png") no-repeat center;
}
.flexigrid .pFirst {
	background: url("../images/first.png") no-repeat center;
}
.flexigrid .pPrev {
	background: url("../images/prev.png") no-repeat center;
}
.flexigrid .pNext {
	background: url("../images/next.png") no-repeat center;
}
.flexigrid .pLast {
	background: url("../images/last.png") no-repeat center;
}
.flexigrid .pReload {
	background: url("../images/load.png") no-repeat center;
}
.flexigrid .pReload.loading {
	background: url("../images/load.gif") no-repeat center;
}
.flexigrid.ie div.hDiv th div {
	overflow: hidden;
}
.flexigrid.ie div.bDiv td div {
	overflow: hidden;
}
div.colCopy.ie div {
	overflow: hidden;
}
.flexigrid div.fbutton .add {
	background: url("../images/add.png") no-repeat left;
}
.flexigrid div.fbutton .delete {
	background: url("../images/close.png") no-repeat left;
}
.flexigrid div.fbutton .modify {
	background: url("../images/modify.png") no-repeat left;
}
.flexigrid div.fbutton .advanced {
	background: url("../images/advanced.png") no-repeat left;
}
.flexigrid div.fbutton .up {
	background: url("../images/arrow-up.gif") no-repeat left;
}
.flexigrid div.fbutton .down {
	background: url("../images/arrow-down.gif") no-repeat left;
}
.flexigrid div.fbutton .magnifier {
	background: url("../images/magnifier.png") no-repeat left;
}
.gray {
	left: 0px; top: 0px; width: 100%; height: 100%; cursor: text; opacity: 0.3;
}
.flexigrid div.gBlock {
	display: none;
}
