.jslider_round_plastic .jslider-bg i {
	background-image: url("../img/jslider.round.plastic.png");
}
.jslider_round_plastic .jslider-pointer {
	background-image: url("../img/jslider.round.plastic.png");
}
.jslider_round_plastic .jslider-pointer {
	top: -7px; width: 18px; height: 18px; margin-left: -8px;
}
