.jquery-checkbox {
	outline: 0px; top: -2px; line-height: 20px; font-size: 20px; vertical-align: middle; display: inline-block; position: relative; cursor: pointer;
}
.jquery-checkbox div.checkbox_container {
	background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 2%, rgb(229, 229, 229) 3%, rgb(240, 240, 240) 97%, rgb(200, 200, 200) 98%, rgb(200, 200, 200) 98%, rgb(200, 200, 200) 100%); outline: rgb(200, 200, 200) solid 1px; height: 32px; color: rgb(75, 90, 104); line-height: 32px; margin-left: 0px; vertical-align: middle; display: inline-block; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.jquery-checkbox div.checkbox_off {
	font: 16px/normal Arial, "Helvetica Neue", Helvetica, sans-serif; text-align: right; color: rgb(204, 204, 204); vertical-align: text-bottom; display: inline-block; font-size-adjust: none; font-stretch: normal;
}
label.checbox_off {
	width: auto; height: 32px; text-align: center; line-height: 32px; padding-right: 20px; padding-left: 20px; cursor: pointer; min-width: 12px; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;
}
label.checkbox_on {
	width: auto; height: 32px; text-align: center; line-height: 32px; padding-right: 20px; padding-left: 20px; cursor: pointer; min-width: 12px; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;
}
label.checkbox_off {
	border-left-color: rgb(200, 200, 200); border-left-width: 1px; border-left-style: solid; display: inline-block; cursor: pointer !important; background-image: -ms-linear-gradient(rgb(229, 229, 229), rgb(240, 240, 240)); background-color: rgb(234, 234, 234);
}
label.checkbox_on {
	cursor: pointer !important; background-color: transparent;
}
label.checkbox_on span {
	color: rgb(246, 246, 246);
}
.toggle_switch + label.checkbox_off {
	padding: 0px 20px; height: 31px; line-height: 32px; background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(229, 229, 229)); background-color: rgb(234, 234, 234);
}
.FR-FR .toggle_switch + label.checkbox_off {
	width: 72px; text-align: center;
}
.NL-NL .toggle_switch + label.checkbox_off {
	width: 28px; text-align: center;
}
.ZH-CN .toggle_switch + label.checkbox_off {
	width: 22px; text-align: center;
}
.HU-HU .toggle_switch + label.checkbox_off {
	width: 27px; text-align: center;
}
.NB-NO .toggle_switch + label.checkbox_off {
	width: 27px; text-align: center;
}
.PL-PL .toggle_switch + label.checkbox_off {
	width: 40px; text-align: center;
}
.SV-SE .toggle_switch + label.checkbox_off {
	width: 26px; text-align: center;
}
.jquery-checkbox2 label.checkbox_on {
	width: 26px !important; height: 24px;
}
.jquery-checkbox2 label.checkbox_off {
	width: 26px !important; height: 24px; display: inline;
}
.jquery-checkbox div.checkbox_on {
	font: 16px/normal Arial, "Helvetica Neue", Helvetica, sans-serif; text-align: left; color: rgb(204, 204, 204); vertical-align: text-bottom; display: inline-block; font-size-adjust: none; font-stretch: normal;
}
.jquery-checkbox-checked label.checkbox_on {
	display: inline-block; background-image: -ms-linear-gradient(rgb(2, 125, 200), rgb(0, 153, 255)); background-color: rgb(1, 139, 227);
}
.jquery-checkbox span.toggle_on {
	background: url("/web/img/main_sprite.png?v=1.3.0-546") no-repeat -175px -558px; margin: 0px 20px; top: -1px; width: 14px; height: 16px; line-height: 32px; vertical-align: middle; display: none; position: relative; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
}
.jquery-checkbox span.toggle_off {
	background: url("/web/img/main_sprite.png?v=1.3.0-546") no-repeat -175px -558px; margin: 0px 20px; top: -1px; width: 14px; height: 16px; line-height: 32px; vertical-align: middle; display: none; position: relative; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
}
.jquery-checkbox span.toggle_on {
	margin: 0px 24px;
}
.JA-JP .jquery-checkbox span.toggle_on {
	margin: 0px 20px !important;
}
.TR-TR .jquery-checkbox span.toggle_on {
	margin: 0px 20px !important;
}
.ZH-TW .jquery-checkbox span.toggle_on {
	margin: 0px 20px !important;
}
.KO-KR .jquery-checkbox span.toggle_on {
	margin: 0px 20px !important;
}
.CS-CZ .jquery-checkbox span.toggle_on {
	margin: 0px 21px !important;
}
.NL-NL .jquery-checkbox span.toggle_on {
	margin: 0px 22px !important;
}
.PL-PL .jquery-checkbox span.toggle_on {
	margin: 0px 22px !important;
}
.DE-DE .jquery-checkbox span.toggle_on {
	margin: 0px 23px !important;
}
.RU-RU .jquery-checkbox span.toggle_on {
	margin: 0px 27px !important;
}
.ES-ES .jquery-checkbox span.toggle_on {
	margin: 0px 33px !important;
}
.PT-BR .jquery-checkbox span.toggle_on {
	margin: 0px 33px !important;
}
.TR-TR .jquery-checkbox-checked label.checkbox_on {
	width: 81px;
}
.jquery-checkbox span.toggle_off {
	background-position: -189px -558px;
}
.jquery-checkbox span.toggle_off {
	display: inline-block;
}
.jquery-checkbox .toggle_switch {
	display: none;
}
.jquery-checkbox2 {
	left: -3px; display: inline; position: relative; cursor: pointer;
}
.jquery-checkbox2 div.checkbox_container {
	width: 24px; height: 24px; vertical-align: middle; display: inline-block;
}
.toggle_off {
	margin: 3px; width: 20px; height: 20px; cursor: pointer; background-image: url("/web/img/main_sprite.png?v=1.3.0-546"); background-repeat: no-repeat; background-color: transparent;
}
.toggle_on {
	margin: 3px; width: 20px; height: 20px; cursor: pointer; background-image: url("/web/img/main_sprite.png?v=1.3.0-546"); background-repeat: no-repeat; background-color: transparent;
}
.toggle_off {
	background-position: -180px -575px;
}
.toggle_off:hover {
	background-position: -200px -575px;
}
.toggle_on {
	background-position: -160px -575px;
}
.toggle_on:hover {
	background-position: -140px -575px;
}
.jquery-checkbox2 .mark {
	display: inline;
}
.jquery-checkbox2 img {
	width: 24px; height: 24px; vertical-align: middle;
}
.jquery-checkbox2 img {
	background: url("/web/img/checkbox2.png?v=1.3.0-546") no-repeat;
}
.jquery-checkbox2 div.checkbox_container {
	background-position: 0px 0px;
}
.jquery-checkbox2-hover div.checkbox_container {
	background-position: -24px 0px;
}
.jquery-checkbox2-checked div.checkbox_container {
	background-position: 0px -24px;
}
.jquery-checkbox2-checked .jquery-checkbox2-hover div.checkbox_container {
	background-position: -24px -24px;
}
.jquery-checkbox2-disabled div.checkbox_container {
	background-position: 0px -48px;
}
.jquery-checkbox2-checked .jquery-checkbox2-disabled div.checkbox_container {
	background-position: 0px -72px;
}
.switchOff {
	background: url("../images/ToggleSwitch/ButtonToggleSwitchOffUp.png") no-repeat; width: 80px; height: 30px; cursor: pointer;
}
.switchOn {
	background: url("../images/ToggleSwitch/ButtonToggleSwitchOnDown2.png") no-repeat; width: 80px; height: 30px; cursor: pointer;
}
.switchOnOver {
	background: url("../images/ToggleSwitch/ButtonToggleSwitchOnDown.png") no-repeat; width: 80px; height: 30px; cursor: pointer;
}
.switchOffOver {
	background: url("../images/ToggleSwitch/ButtonToggleSwitchOffOver.png") no-repeat; width: 80px; height: 30px; cursor: pointer;
}
.switchOffThumb {
	background: url("../images/ToggleSwitch/ThumbToggleSwitchUp.png") no-repeat; width: 40px; height: 30px;
}
.switchOnThumb {
	background: url("../images/ToggleSwitch/ThumbToggleSwitchOver.png") no-repeat; width: 40px; height: 30px;
}
.switchOnThumbOver {
	background: url("../images/ToggleSwitch/ThumbToggleSwitchOver.png") no-repeat; width: 40px; height: 28px;
}
.thumbLeft {
	float: left;
}
.thumbRight {
	float: right;
}
.switchDiv {
	width: 80px; height: 30px;
}
.switchobj {
	color: rgb(204, 204, 204); line-height: 29px; position: relative;
}
.switchobj div {
	width: 34px;
}
.on_text {
	border: 1px solid red; border-image: none; width: 38px; text-align: center; color: rgb(204, 204, 204); line-height: 29px; float: left; display: none;
}
.off_text {
	border: 1px solid red; border-image: none; width: 38px; text-align: center; color: rgb(204, 204, 204); line-height: 29px; float: left; display: none;
}
